absl-py==0.7.1
alembic==1.0.5
astor==0.7.1
astroid==2.1.0
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.4
backports.csv==1.0.7
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
bower==0.0.0
braintree==3.53.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
coverage==4.5.2
cycler==0.10.0
Cython==0.29.7
dash==0.43.0
dash-core-components==0.48.0
dash-daq==0.1.0
dash-html-components==0.16.0
dash-renderer==0.24.0
dash-table==3.7.0
dash.ly==0.17.3
decorator==4.3.0
defusedxml==0.5.0
diff-match-patch==20181111
dj-database-url==0.5.0
Django==2.2
django-allauth==0.38.0
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-extensions==2.1.7
django-heroku==0.3.1
django-import-export==1.2.0
docutils==0.14
et-xmlfile==1.0.1
# Editable Git install with no remote (Flask==0.10.1)
-e /Users/apexcure/Dev/lib/python3.7/site-packages
Flask-Compress==1.4.0
Flask-MySQLdb==0.2.0
Flask-SeaSurf==0.2.2
Flask-Session==0.3.1
Flask-SocketIO==3.3.2
Flask-WTF==0.14.2
flaskr==1.0.0
gast==0.2.2
google-pasta==0.1.5
grpcio==1.20.0
gunicorn==19.9.0
h5py==2.9.0
idna==2.7
ipython-genutils==0.2.0
isort==4.3.4
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Kivy==1.10.1
Kivy-Garden==0.1.4
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Mako==1.0.7
Markdown==3.1
MarkupSafe==1.1.0
matplotlib==3.0.0
mccabe==0.6.1
mlfinlab==0.1.0
mock==3.0.5
more-itertools==4.3.0
mysql-connector==2.1.6
mysqlclient==1.4.1
nbformat==4.4.0
numpy==1.15.2
oauthlib==3.0.1
odfpy==1.4.0
openpyxl==2.6.2
ordereddict==1.1
pandas==0.23.4
passlib==1.7.1
pbr==5.2.0
pep8==1.7.1
pexpect==4.6.0
Pillow==5.3.0
plotly==3.3.0
pluggy==0.8.0
protobuf==3.7.1
psycopg2==2.7.7
psycopg2-binary==2.7.6.1
ptyprocess==0.6.0
py==1.7.0
pycodestyle==2.5.0
Pygments==2.3.1
pylint==2.2.2
pyparsing==2.2.1
pytest==4.0.1
python-dateutil==2.7.3
python-decouple==3.1
python-dotenv==0.4.0
python-editor==1.0.3
python-engineio==3.5.1
python-socketio==3.1.2
python3-openid==3.1.0
pytz==2018.7
PyYAML==5.1
requests==2.20.1
requests-oauthlib==1.2.0
retrying==1.3.3
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
six==1.12.0
SQLAlchemy==1.2.17
sqlparse==0.3.0
statsmodels==0.9.0
stripe==2.15.0
submit50==2.4.9
tablib==0.13.0
tb-nightly==1.14.0a20190301
tensorflow==2.0.0a0
tensorflow-hub==0.4.0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019030115
traitlets==4.3.2
typed-ast==1.1.0
urllib3==1.24.2
Werkzeug==0.15.5
whitenoise==4.1.2
wrapt==1.10.11
WTForms==2.2.1
xlrd==1.2.0
xlwt==1.3.0
