{% extends "plans/base.html" %}
{% block content %}

<style>
  h1{
      text-align: center;
  }
</style>
<body>
<h1>Plan Options</h1>
    <div class="container">
            
            <div class="row">
            {% for option in options%}
              <div class="col-sm"> 
               <h4> {{option.name}}</h4>
               <br>
               <h5>$ {{ option.price }}/ month</h5>
               <br>
               <p>{{ option.trial_period }}</p>
               <br>
               <p>{{ option.details }}</p>
               <br>
               <p>{{ option.vailable_add_ons }}</p>
               <br>
               {% if option in user.profile.istream_options.all %}
               This is your current option plan
               {% elif option in user.current_order_options %}
               <a href="{% url 'plans:order_summary' %}" class="btn btn-warning">Go to Cart</a>
               {% else %}
               <a href="{% url 'plans:add_to_cart' option.id %}" class="btn btn-success">Select Plan</a>
               {% endif %}
            </div>
            {% endfor %}
    </div>
</div>
{% endblock content %}