{% extends 'ads/base.html' %}

{% block content %}
<style type="text/css">

#my-video{
  width: 50%;
}
  </style>
<br>
<h1>Have Fun!</h1>

<div class="container-fluid">
<div class="row">
        {% for comic in comics %}
    <div class="col-sm-3">
        <video id='my-video' class='' controls preload='auto' width='640' height='255'
        poster='{{ comic.cover_image.url }}' data-setup='{}'>
          <source src='{{ comic.upload_comedy.url }}' type='video/mp4'>
        </video>
        <p> {{ comic.title }}</p>
        <p> {{ comic.comedian }}</p>
       <small> <i>Released on the {{ comic.released_date }}</i></small>
     </div>
     {% endfor %}
    </div>
  </div>
{% endblock content %}